# NOTICE:
# As per this project's license, the following source file has been modified from its original content as part of this fork repository.

.idea
node_modules
build
src/**.js
package-lock.json
coverage
.nyc_output
*.log
.env

*.tgz